aiohttp==3.7.3
APScheduler==3.6.3
asgiref==3.3.4
async-timeout==3.0.1
attrs==20.3.0
blinker==1.4
Brotli==1.0.9
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cryptography==3.2.1
dnspython==2.3.0
Flask==1.1.4
h11==0.12.0
h2==4.0.0
hpack==4.0.0
hyperframe==6.0.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
kafka-python==2.0.2
kaitaistruct==0.9
ldap3==2.8.1
loguru==0.6.0
lxml==4.6.2
MarkupSafe==2.0.1
mitmproxy==5.3.0
msgpack==1.0.2
multidict==5.1.0
passlib==1.7.4
peewee==3.14.4
protobuf==3.13.0
publicsuffix2==2.20191221
pyasn1==0.4.8
pycparser==2.20
pymongo==4.3.3
PyMySQL==0.10.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.2
python-wordpress-xmlrpc==2.3
pytz==2020.5
qiniu==7.3.0
requests==2.25.1
ruamel.yaml==0.16.13
schedule==0.6.0
six==1.15.0
sortedcontainers==2.2.2
tornado==6.1
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.2
urwid==2.1.2
Werkzeug==1.0.1
wsproto==0.15.0
yarl==1.6.3
zstandard==0.14.1
